includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - templates
        - kmc-eversports.php
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - '#PHPDoc tag @SuppressWarnings has invalid value#'
        -
            message: '#Call to an undefined method YahnisElsts\\PluginUpdateChecker\\.*::(getVcsApi|enableReleaseAssets)\(\)#'
            path: kmc-eversports.php
