includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - kmc-eversports.php
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - message: '#PHPDoc tag @SuppressWarnings has invalid value#'
          path: tests/Unit/TemplateTest.php
